<ion-content>
  <div class="banner">
    <img src="assets/completos.jpg" alt="Banner de {{ categoryName }}" />
  </div>

  <ion-button class="back-button" size="small" fill="clear" routerLink="/home">
    <ion-icon name="arrow-back" color="light"></ion-icon>
  </ion-button>

  <div class="category-title">
    <h2>{{ categoryName }}</h2>
  </div>

  <div class="productos-categoria">
    <div class="categoria-header">
      <h2>{{ categoryName }} Destacados</h2>
    </div>

    <div class="productos-scroll">
      <div class="producto-card" *ngFor="let producto of destacados">
        <img [src]="producto.image" [alt]="producto.name" class="producto-imagen" [routerLink]="['/producto', producto.id]">
        <button class="btn-agregar">+</button>
        <div class="producto-info">
          <p class="precio"><strong>CLP {{ producto.price }}</strong></p>
          <p class="nombre-producto">{{ producto.name }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Todos los productos -->
  <div class="productos-categoria">
    <div class="categoria-header">
      <h2>Todos los {{ categoryName }}</h2>
    </div>

    <div class="product-list">
      <div class="product-item" *ngFor="let producto of todos">
        <div class="product-info">
          <h4 class="product-name">{{ producto.name }}</h4>
          <p class="product-price">CLP {{ producto.price }}</p>
        </div>
        <div class="product-image-container">
          <img [src]="producto.image" [alt]="producto.name" class="product-image" [routerLink]="['/producto', producto.id]">
          <button class="add-to-cart-button">
            <ion-icon name="add-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
