<ion-content>

  <!-- Botón para cerrar y volver al Home -->
  <div class="close-button" (click)="goBack()">
    <ion-icon name="close" size="large"></ion-icon>
  </div>

  <!-- Título "Carro de compras" -->
  <div class="cart-title">
    <h2>Detalles Orden</h2>
  </div>

  <!-- Listado de productos -->
  <div class="cart-item">
    <!-- Producto 1 -->
    <div class="cart-product">
      <img src="assets/italiano.jpg" alt="Completo Italiano" class="product-image">
      <div class="product-info">
        <div class="product-name"><b>Completo Italiano</b></div>
        <div class="product-price">CLP 2,500</div>
      </div>
    </div>

    <!-- Producto 2 -->
    <div class="cart-product">
      <img src="assets/coca-cola.jpg" alt="Coca Cola" class="product-image">
      <div class="product-info">
        <div class="product-name"><b>Coca Cola</b></div>
        <div class="product-price">CLP 1,000</div>
      </div>
    </div>
  </div>

  <!-- Subtotal y total -->
  <div class="subtotal">
    <div class="subtotal-label">Subtotal</div>
    <div class="subtotal-value">CLP 3,500</div>
  </div>

