<ion-content class="ion-padding">
  <!-- Header con botón de cerrar y título -->
  <div class="header-toolbar">
    <ion-icon name="close" class="back-icon" (click)="goToProfile()"></ion-icon>
    <h2 class="header-title">Editar Perfil</h2>
  </div>

  <!-- Formulario de editar perfil -->
  <div class="form-container">
    <!-- Campo: Nombre -->
    <div class="input-group">
      <label for="firstName">Nombre</label>
      <input type="text" id="firstName" [(ngModel)]="firstName" placeholder="Ej: Juan" />
    </div>

    <!-- Campo: Apellido -->
    <div class="input-group">
      <label for="lastName">Apellido</label>
      <input type="text" id="lastName" [(ngModel)]="lastName" placeholder="Ej: Pérez" />
    </div>

    <!-- Campo: Correo -->
    <div class="input-group">
      <label for="correo">Correo</label>
      <input type="email" id="correo" [(ngModel)]="correo" placeholder="Ej: juan@example.com" disabled />
    </div>

    <!-- Campo: Contraseña -->
    <div class="input-group">
      <label for="contrasena">Contraseña</label>
      <input type="password" id="contrasena" [(ngModel)]="contrasena" placeholder="********" />
    </div>
  </div>

  <!-- Botón para guardar cambios -->
  <div class="button-container">
    <button class="btn-save" (click)="updateProfile()">Guardar</button>
  </div>
</ion-content>
