<ion-header>
  <ion-toolbar color="white" class="header-toolbar ion-shadow">
    <ion-title class="ion-text-left">
      <h2>Perfil</h2>
    </ion-title>
    <ion-buttons slot="end" routerLink="/carrito">
      <ion-icon name="cart" size="small" class="icon-cart"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [value]="firstName + ' ' + lastName" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Correo</ion-label>
    <ion-input [value]="correo" disabled></ion-input>
  </ion-item>

  <ion-button expand="full" color="dark" class="continue-button" routerLink="/edit-perfil">Editar</ion-button>

  <!-- Separador entre los botones -->
  <br><br><br><br><br><br><br><br>

  <ion-button expand="full" color="dark" class="continue-button" routerLink="/catalogo">Administración</ion-button>
  <ion-button expand="full" color="dark" class="continue-button" (click)="logout()">Cerrar Sesión</ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar color="white" class="footer-toolbar ion-shadow">
    <ion-buttons class="footer-buttons" routerLink="/home">
      <ion-icon name="home" size="small"></ion-icon>
      <span class="caption">Inicio</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/buscar">
      <ion-icon name="albums" size="small"></ion-icon>
      <span class="caption">Categorías</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/mis-pedidos">
      <ion-icon name="receipt" size="small"></ion-icon>
      <span class="caption">Órdenes</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/perfil">
      <ion-icon name="person" size="small"></ion-icon>
      <span class="caption">Perfil</span>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
