

<ion-content class="ion-padding">

</ion-content>

<ion-footer>
  <ion-toolbar color="white" class="footer-toolbar ion-shadow">
    <ion-buttons class="footer-buttons" routerLink="/administracion" >
      <ion-icon name="home" size="small"></ion-icon>
      <span class="caption">Inicio</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/catalogo" >
      <ion-icon name="albums" size="small"></ion-icon>
      <span class="caption">Catalogo</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/pedidos-adm" >
      <ion-icon name="search" size="small"></ion-icon>
      <span class="caption">Pedidos</span>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>





