<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">OrderEz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="adm">
  <ion-card *ngFor="let mesa of mesas" class="mesa-card">
    <ion-card-content class="mesa-info">
      <div class="mesa-title">Mesa {{ mesa.id }}</div>
      <ion-button [routerLink]="'/detalle-mesa'" class="ver-boton">Ver</ion-button>
      <ion-select [(ngModel)]="mesa.estado" interface="popover" class="estado-select">
        <ion-select-option value="Pendiente">Pendiente</ion-select-option>
        <ion-select-option value="Recibido">Recibido</ion-select-option>
        <ion-select-option value="En preparación">En preparación</ion-select-option>
        <ion-select-option value="Entregado">Entregado</ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>
</ion-content>
