<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title [routerLink]="'/home'">OrderEz</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/perfil'">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="'/mis-pedidos'">
        <ion-icon name="list-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="'/carrito'">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="'/administracion'">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let mesa of mesas" class="mesa-card">
    <ion-card-content class="mesa-info">
      <div class="mesa-title">Mesa {{ mesa.id }}</div>
      <ion-button [routerLink]="'/detalle-mesa'" class="ver-boton">Ver</ion-button>
      <ion-select [(ngModel)]="mesa.estado" interface="popover" class="estado-select">
        <ion-select-option value="Pendiente">Pendiente</ion-select-option>
        <ion-select-option value="Recibido">Recibido</ion-select-option>
        <ion-select-option value="En preparación">En preparación</ion-select-option>
        <ion-select-option value="Entregado">Entregado</ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>
</ion-content>
