.mesa-card {
  margin: 10px 0;
}

.mesa-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mesa-title {
  font-size: 16px;
  font-weight: bold;
}

.ver-boton {
  margin: 0 10px;
}

.estado-boton {
  --background: var(--ion-color-primary);
  --color: white;
  --border-radius: 4px;
  --box-shadow: none;
  text-transform: capitalize;
}
