<ion-header>
  <ion-toolbar color="white" class="header-toolbar ion-shadow">
    <ion-title class="ion-text-left">
      <h2>Ordenes</h2>
    </ion-title>
    <ion-buttons slot="end" routerLink="/carrito">
      <ion-icon name="cart" size="small" class="icon-cart"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="mis-pedidos">
  <!-- Tabs para dividir pedidos actuales y pasados -->
  <ion-segment [(ngModel)]="segment" color="primary">
    <ion-segment-button value="actuales">
      <ion-label>Pedidos Actuales</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pasados">
      <ion-label>Pedidos Pasados</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Sección de Pedidos Actuales -->
  <!-- Sección de Pedidos Actuales -->
<div *ngIf="segment === 'actuales'">
  <h2>Pedidos Pendientes</h2>
  <ion-list>
    <ion-item *ngFor="let pedido of pedidosActuales">
      <ion-label>
        <h2>{{ pedido.nombre }} - {{ pedido.mesa }}</h2>
        <p>Estado: {{ pedido.estado }}</p>
        <p>Fecha: {{ pedido.fecha | date:'short' }}</p>
        <p>Total: CLP {{ pedido.total }}</p>
      </ion-label>
      <ion-button color="dark" (click)="verDetalle(pedido)">Ver</ion-button>
    </ion-item>
  </ion-list>
</div>

<!-- Sección de Pedidos Pasados -->
<div *ngIf="segment === 'pasados'">
  <h2>Pedidos Entregados</h2>
  <ion-list>
    <ion-item *ngFor="let pedido of pedidosPasados">
      <ion-label>
        <h2>{{ pedido.nombre }} - {{ pedido.mesa }}</h2>
        <p>Estado: {{ pedido.estado }}</p>
        <p>Fecha: {{ pedido.fecha | date:'short' }}</p>
        <p>Total: CLP {{ pedido.total }}</p>
      </ion-label>
      <ion-button color="dark" (click)="verDetalle(pedido)">Ver</ion-button>
    </ion-item>
  </ion-list>
</div>

</ion-content>

<ion-footer>
  <ion-toolbar color="white" class="footer-toolbar ion-shadow">
    <ion-buttons class="footer-buttons" routerLink="/home">
      <ion-icon name="home" size="small"></ion-icon>
      <span class="caption">Inicio</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/buscar">
      <ion-icon name="albums" size="small"></ion-icon>
      <span class="caption">Categorías</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/mis-pedidos">
      <ion-icon name="receipt" size="small"></ion-icon>
      <span class="caption">Órdenes</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/perfil">
      <ion-icon name="person" size="small"></ion-icon>
      <span class="caption">Perfil</span>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
