<ion-content>
  <div class="banner">
    <img [src]="producto?.image" alt="Banner de {{ producto?.name }}" />
  </div>

  <ion-button class="back-button" size="small" fill="clear" routerLink="/home">
    <ion-icon name="arrow-back" color="dark"></ion-icon>
  </ion-button>

  <div class="category-title ion-padding">
    <h2>{{ producto?.name }}</h2>
    <h3 class="price">CLP {{ producto?.price }}</h3>
  </div>

  <ion-toolbar color="white" class="footer-toolbar">
    <ion-button *ngIf="producto" expand="full" color="dark" class="continue-button" (click)="agregarAlCarrito(producto)">
      Añadir 1 al carrito . CLP {{ producto.price }}
    </ion-button>
  </ion-toolbar>
</ion-content>
