<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
        <ion-card-subtitle>Por favor, inicia sesión para continuar</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form>
          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input type="email" placeholder="tuemail@ejemplo.com"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" placeholder="******"></ion-input>
          </ion-item>

          <ion-button expand="block" class="ion-margin-top" [routerLink]="['/home']">Iniciar Sesión</ion-button>
        </form>

        <div class="register-link">
          <p>¿No tienes cuenta? <a [routerLink]="['/register']">Regístrate aquí</a></p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
