

<ion-content class="ion-padding">
  <div class="register-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Crear Cuenta</ion-card-title>
        <ion-card-subtitle>Por favor, completa el formulario para registrarte</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form>
          <ion-item>
            <ion-label position="floating">Nombre Completo</ion-label>
            <ion-input type="text" placeholder="Juan Pérez"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input type="email" placeholder="tuemail@ejemplo.com"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" placeholder="******"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirmar Contraseña</ion-label>
            <ion-input type="password" placeholder="******"></ion-input>
          </ion-item>

          <ion-button expand="block" color="dark" class="ion-margin-top" routerLink="/">Registrarse</ion-button>
        </form>

        <div class="login-link">
          <p>¿Ya tienes cuenta? <a routerLink="/">Inicia sesión aquí</a></p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
