<ion-header >
  <ion-toolbar color="white" class="header-toolbar ion-shadow">
    <ion-title class="ion-text-center">
      <ion-searchbar placeholder="Buscar productos" class="rounded-searchbar"></ion-searchbar>
    </ion-title>
    <ion-buttons slot="end" routerLink="/carrito">
      <ion-icon name="cart" size="small" class="icon-cart"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <!-- Barra de categorías -->
   <div class="category-bar">
    <div class="category-item" (click)="navigateToCategory('Pastas')">
      <img src="assets/hotdog.png" width="30" height="30">
      <span class="caption">Pastas</span>
    </div>
    <div class="category-item" (click)="navigateToCategory('Pizzas')">
      <img src="assets/pizza.png" width="30" height="30">
      <span class="caption">Pizzas</span>
    </div>
    <div class="category-item" (click)="navigateToCategory('Appetizers')">
      <img src="assets/hamburger.png" width="30" height="30">
      <span class="caption">Appetizers</span>
    </div>
    <div class="category-item" (click)="navigateToCategory('Ensaladas')">
      <img src="assets/hamburger.png" width="30" height="30">
      <span class="caption">Ensaladas</span>
    </div>
    <div class="category-item" (click)="navigateToCategory('Postres')">
      <img src="assets/dessert.png" width="30" height="30">
      <span class="caption">Postres</span>
    </div>
    <div class="category-item" (click)="navigateToCategory('Sandwiches')">
      <img src="assets/sandwich.png" width="30" height="30">
      <span class="caption">Sandwiches</span>
    </div>
  </div>

  <div class="productos-categoria">
    <div class="categoria-header">
      <h2>Pastas Favoritas</h2>
    </div>
  
    <div class="productos-scroll">
      <div class="producto-card" *ngFor="let pasta of pastas">
        <img [src]="pasta.image" [alt]="pasta.name" class="producto-imagen">
        <button class="btn-agregar">+</button>
        <div class="producto-info">
          <p class="precio"><strong>CLP {{ pasta.price }}</strong></p>
          <p class="nombre-producto">{{ pasta.name }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="productos-categoria">
    <div class="categoria-header">
      <h2>Appetizers</h2>
    </div>
  
    <div class="productos-scroll">
      <div class="producto-card" *ngFor="let appetizer of appetizers">
        <img [src]="appetizer.image" [alt]="appetizer.name" class="producto-imagen">
        <button class="btn-agregar">+</button>
        <div class="producto-info">
          <p class="precio"><strong>CLP {{ appetizer.price }}</strong></p>
          <p class="nombre-producto">{{ appetizer.name }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="productos-categoria">
    <div class="categoria-header">
      <h2>Pizzas Favoritas</h2>
    </div>
  
    <div class="productos-scroll">
      <div class="producto-card" *ngFor="let pizza of pizzas">
        <img [src]="pizza.image" [alt]="pizza.name" class="producto-imagen">
        <button class="btn-agregar">+</button>
        <div class="producto-info">
          <p class="precio"><strong>CLP {{ pizza.price }}</strong></p>
          <p class="nombre-producto">{{ pizza.name }}</p>
        </div>
      </div>
    </div>
  </div>
  

      <!-- Agrega más productos aquí -->
</ion-content>

<ion-footer>
  <ion-toolbar color="white" class="footer-toolbar ion-shadow">
    <ion-buttons class="footer-buttons" routerLink="/home" >
      <ion-icon name="home" size="small"></ion-icon>
      <span class="caption">Inicio</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/buscar" >
      <ion-icon name="albums" size="small"></ion-icon>
      <span class="caption">Categorías</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/buscar" >
      <ion-icon name="search" size="small"></ion-icon>
      <span class="caption">Buscar</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/mis-pedidos" >
      <ion-icon name="receipt" size="small"></ion-icon>
      <span class="caption">Órdenes</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/perfil" >
      <ion-icon name="person" size="small"></ion-icon>
      <span class="caption">Perfil</span>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>





