<ion-header >
  <ion-toolbar color="white" class="header-toolbar ion-shadow">
    <ion-title class="ion-text-left">
      <h2>Categorias</h2>
    </ion-title>
    <ion-buttons slot="end" routerLink="/carrito">
      <ion-icon name="cart" size="small" class="icon-cart"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Título de la sección -->
  <div class="categories-title">
    <h2><b>Disfruta los mejores platos</b></h2>
  </div>

  <!-- Contenedor de las categorías -->
  <ion-grid>
    <ion-row>
      <!-- Pastas -->
      <ion-col size="6">
        <div class="category">
          <img src="assets/pastas.jpg" alt="Pastas" class="category-image" (click)="navigateToCategory('Pastas')">
          <div class="category-name">Pastas</div>
        </div>
      </ion-col>
      
      <!-- Ensaladas -->
      <ion-col size="6">
        <div class="category">
          <img src="assets/ensaladas.jpg" alt="Ensaladas" class="category-image" (click)="navigateToCategory('Ensaladas')">
          <div class="category-name">Ensaladas</div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Sandwiches -->
      <ion-col size="6">
        <div class="category">
          <img src="assets/sandwiches.jpg" alt="Sandwiches" class="category-image" (click)="navigateToCategory('Sandwiches')">
          <div class="category-name">Sandwiches</div>
        </div>
      </ion-col>
      
      <!-- Pizzas -->
      <ion-col size="6">
        <div class="category">
          <img src="assets/pizzas.jpg" alt="Pizzas" class="category-image" (click)="navigateToCategory('Pizzas')">
          <div class="category-name">Pizzas</div>
        </div>
      </ion-col>
    </ion-row>

    <!-- Otras categorías pueden seguir el mismo patrón -->
    <ion-row>
      <ion-col size="6">
        <div class="category">
          <img src="assets/postres.jpg" alt="Postres" class="category-image" (click)="navigateToCategory('Postres')">
          <div class="category-name">Postres</div>
        </div>
      </ion-col>
      
      <ion-col size="6">
        <div class="category">
          <img src="assets/apettizers.jpg" alt="Apettizers" class="category-image" (click)="navigateToCategory('Apettizers')">
          <div class="category-name">Apettizers</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="category">
        </div>
      </ion-col>
      
      <ion-col size="6">
        <div class="category">
        
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="white" class="footer-toolbar ion-shadow">
    <ion-buttons class="footer-buttons" routerLink="/home" >
      <ion-icon name="home" size="small"></ion-icon>
      <span class="caption">Inicio</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/buscar" >
      <ion-icon name="albums" size="small"></ion-icon>
      <span class="caption">Categorías</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/mis-pedidos" >
      <ion-icon name="receipt" size="small"></ion-icon>
      <span class="caption">Órdenes</span>
    </ion-buttons>

    <ion-buttons class="footer-buttons" routerLink="/perfil" >
      <ion-icon name="person" size="small"></ion-icon>
      <span class="caption">Perfil</span>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>





