<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">OrderEz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="carrito">
  
  <div class="cart-container">
    <ion-grid>
      <ion-row *ngFor="let item of cartItems; let i = index">
        <ion-col size="12">
          <div class="cart-item">
            <ion-img [src]="item.image" class="cart-image"></ion-img>
            <div class="cart-info">
              <h3>{{ item.name }}</h3>
              <p>${{ item.price }}</p>
              <div class="quantity-controls">
                <ion-button size="small" fill="clear" (click)="decreaseQuantity(i)">
                  <ion-icon name="remove-circle-outline"></ion-icon>
                </ion-button>
                <span>{{ item.quantity }}</span>
                <ion-button size="small" fill="clear" (click)="increaseQuantity(i)">
                  <ion-icon name="add-circle-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
            <ion-button size="small" fill="clear" color="danger" (click)="removeItem(i)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="total-container">
    <h3>Total: ${{ total }}</h3>
    <ion-button expand="block" color="primary">Realizar Pedido</ion-button>
  </div>
</ion-content>
