<ion-header>
  <div class="header-toolbar">
    <ion-icon name="close" size="small" class="back-icon" (click)="goBack()"></ion-icon>
    <h1 class="header-title">{{ mesaNombre || 'No asignada' }}</h1>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <!-- Selector de segmentos -->
  <ion-segment (ionChange)="segmentChanged($event)" value="actuales">
    <ion-segment-button value="actuales">
      <ion-label>Pedidos Actuales</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pasados">
      <ion-label>Pedidos Pasados</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Pedidos Actuales -->
  <div *ngIf="currentSegment === 'actuales'">
    <h2 class="section-title">Pedidos Actuales</h2>
    <div *ngFor="let pedido of pedidos">
      <!-- Mostrar solo los pedidos cuyo estado no sea 'Entregado' -->
      <div *ngIf="pedido.estado !== 'Entregado'" class="pedido-item">
        <div class="pedido-info">
          <h3>{{ pedido.id }}</h3>
          <p>Fecha: {{ pedido.fecha?.toDate() | date: 'short' }}</p>
          <p>Nombre: {{ pedido.solicitadoPor }}</p>
          <p>Estado: {{ pedido.estado }}</p>
        </div>
        <div class="pedido-actions">
          <!-- Ion Select para cambiar el estado del pedido -->
          <ion-select [(ngModel)]="pedido.estado" (ionChange)="cambiarEstado(pedido.id, pedido.estado)">
            <ion-select-option value="Pendiente">Pendiente</ion-select-option>
            <ion-select-option value="En Proceso">En Proceso</ion-select-option>
            <ion-select-option value="Entregado">Entregado</ion-select-option>
            <ion-select-option value="Cancelado">Cancelado</ion-select-option>
          </ion-select>
          <button class="btn-action" (click)="verDetalle(pedido)">Ver Detalles</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Pedidos Pasados -->
  <div *ngIf="currentSegment === 'pasados'">
    <h2 class="section-title">Pedidos Pasados</h2>
    <div *ngFor="let pedido of pedidos">
      <!-- Mostrar solo los pedidos cuyo estado sea 'Entregado' -->
      <div *ngIf="pedido.estado === 'Entregado'" class="pedido-item">
        <div class="pedido-info">
          <h3>{{ pedido.id }}</h3>
          <p>Fecha: {{ pedido.fecha?.toDate() | date: 'short' }}</p>
          <p>Nombre: {{ pedido.solicitadoPor }}</p>
          <p>Estado: {{ pedido.estado }}</p>
        </div>
        <div class="pedido-actions">
          <button class="btn-action" (click)="verDetalle(pedido)">Ver Detalles</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
